<html>
    <head>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <input type="button" onclick="location.href='https://api.instagram.com/oauth/authorize?client_id=857858091290618&redirect_uri=https://wpho-test-app.herokuapp.com/media&scope=user_profile,user_media&response_type=code';" value='Click here!' />

        <!-- <script>
            async function getCode() {
                const response = await axios.get('https://api.instagram.com/%20%20?client_id=857858091290618%0A%20%20&redirect_uri=http://wpho-test-app.herokuapp.com/media%0A%20%20&scope=user_profile,user_media%0A%20%20&response_type=code');
                console.log(response.data);
            }
        </script> -->
    </body>
</html>