
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Play Tetris</title>
        <link rel="stylesheet" href="/css/tetris.css">
        <script src="/js/tetris.js" charset="utf-8"></script>
    </head>

    <body>
        <h3>Score: <span id="score">0</span></h3>
        <button id="start-button"> Start / Pause </button>
        <div style="margin-top:30px;"></div>
        <div class="container">
            <div class="grid"></div>
            <div class='mini-grid'></div>
        </div>
        <div style="margin-top:30px;"></div>
        <button id="mobile-msg-btn">Buttons for mobile device</button>
        <div class="grid-container disable-dbl-tap-zoom" id="mobile-arrows" style="visibility: hidden;">
            <div class="grid-item" style="border:white;"></div>
            <div class="grid-item" id="up-arrow"> &#8593; </div>
            <div class="grid-item" style="border:white;"></div>
            <div class="grid-item" id="left-arrow"> &#8592; </div>
            <div class="grid-item" id="down-arrow"> &#8595; </div>
            <div class="grid-item" id="right-arrow"> &#8594; </div>
        </div>
    </body>
</html>