.grid-container {
  width: 220px;
  height: 110px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px 10px;
  padding: 10px;
}
.grid-item {
  background-color: white;
  color: darkgray;
  border: 2px solid darkgray;
  border-radius: 5px;
  font-size: 30px;
  text-align: center;
}

#up-arrow, #down-arrow, #left-arrow, #right-arrow, #start-button {
    cursor: pointer;
}

.container {
  display: flex;
}

.grid {
  width: 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: #190058;
}

.grid div {
  height: 20px;
  width: 20px;
}

.tetromino {
  background-color: #5600e3;
}

.mini-grid {
  margin-left: 30px;
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  background-color: #190058;
}

.mini-grid div {
  height: 20px;
  width: 20px;
}

#result {
  margin-left: 30px;
}

.disable-dbl-tap-zoom {
  touch-action: manipulation;
}
